/* Universal Styles */

body {
	background-color: #f3e4eb;
}

h2 {
	font-family: 'Truculenta', sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	text-align: center;
	margin: 30px auto;
}

h3 {
	font-family: 'Truculenta', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	text-align: center;
}

p {
	font-family: 'Robik', sans-serif;
}

.grid {
	width: 100%;
	display: grid;
	grid-template: repeat(4, minmax(min-content, max-content)) / 10% 80% 10%;
	grid-row-gap: 30px;
}

.shadow {
	box-shadow: 0 2px 5px gray;
}

hr {
	height: 1px;
	width: 50%;
	background-attachment: color: whitesmoke;
	box-shadow: 0 2px 5px gray;
	border: 0.5 whitesmoke;
	
}

/* Header */

header {
	width: 100%;
	background-color: #ee9fb8;
}

.header-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
}

.brand {
	font-family: 'Sacramento', cursive;
	font-size: 4em;
	font-weight: 500;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	margin: 10px;
}

.desk-nav {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 20px;
}

nav a {
	font-family: 'Truculenta', sans-serif;
	font-size: 1.7em;
	text-decoration: none;
	color: whitesmoke;
	padding: 10px;
	text-shadow: 1px 1px 5px gray;
}

/* Mobile Nav */

.material-icons.light {
	color: whitesmoke;
	font-size: 1.7em;
	margin: 20px;
}

.nav-icon {
	display: none;
}

/* About */

.about {
	grid-area: 1 / 2 / span 1 / span 1;
	margin-top: 20px;
	background-image: url('cupcake_line_lg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portrait {
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 20px auto;
}

.intro-box {
	background-color: rgba(243, 228, 235, 0.8);
	width: 60%;
	margin: 30px auto;
	padding: 30px;
}

.name {
	font-family: 'Rubik', sans-serif;
}

.intro {
	color: #391c1f;
	text-shadow: 1px 1px 5px gray;
	margin: 20px;
	line-height: 1.5;
	text-align: center;
}

/* Work */

.work {
	grid-area: 2 / 2 / span 1 / span 1;
	background-color: #ee9fb8;
}

.example-container {
	background-color: rgba(243, 228, 235, 0.3);
	width: 90%;
	margin: 20px auto;
	padding: 10px;
}

.example-list {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
}

.example {
	max-height: 250px;
	margin: 10px;
}


/* Menu */

.menu {
	grid-area: 3 / 2 / span 1 / span 1;
	background-color: #ee9fb8;
}

/* Menu Category Cards */

.category-box {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	margin: 20px auto;
}

.card {
	background-color: whitesmoke;
	max-width: 300px;
	margin: 10px 5px;
}

.img-crop {
	max-height: 250px;
	width: 100%;
	overflow: hidden;
}

.cat-image {
	width: 100%;
}

.cat-text-containter {
	width: 100%;
}

.cat-label {
	font-family: 'Rubik', sans-serif;
	font-size: 1.75em;
	font-weight: 900;
	color: #be5e69;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.4);
	padding: 10px;
}

.cat-text {
	text-align: center;
	padding: 10px;
	line-height: 1.5;
}

.cat-button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #45a47f;
	border: 0;
	border-radius: 10px;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				inset -2px -2px 3px rgba(0, 0, 0, .6);
	background-image: linear-gradient(to top left,
									  rgba(0, 0, 0, .2),
									  rgba(0, 0, 0, .2) 30%,
									  rgba(0, 0, 0, 0));
	color: whitesmoke;
	text-shadow: 1px 1px 5px #000;
	font-size: 1.2em;
}

/* Menu Description & Pricing Area */

.menu-box {
	background-color: rgba(243, 228, 235, 0.3);
	width: 90%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10px;
}

.menu-title {
	font-size: 2.5em;
}

.menu-heading {
	font-family: 'Rubik', sans-serif;
	font-size: 1.5em;
	text-decoration: underline;
	padding: 10px 20px;
}

.menu-text {
	text-align: left;
	padding: 10px 20px;
}

.type-container {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
	margin: 20px 0;
}

.menu-list {
	padding: 10px 30px;
}

.menu-list li {
	list-style: disc inside;
}

/* Contact Us */

.contact {
	grid-area: 4 / 2 / span 1 / span 1;
	background-color: #98C29B;
	margin-bottom: 20px;
}

.contact-text {
	text-align: center;
	color: whitesmoke;
	font-size: 1.2em;
	text-shadow: 1px 1px 5px gray;
	padding: 20px;
}

.phone {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 20px;
}

.phone-icon {
	display: inline;
}

.phone-number {
	display: inline;
	color: whitesmoke;
	font-family: 'Rubik', sans-serif;
	font-size: 1.5em;
}

.email-button {
	display: block;
	margin: 30px auto;
	padding: 10px 20px;
	background-color: #ee9fb8;
	border: 0;
	border-radius: 10px;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				inset -2px -2px 3px rgba(0, 0, 0, .6);
	background-image: linear-gradient(to top left,
									  rgba(0, 0, 0, .2),
									  rgba(0, 0, 0, .2) 30%,
									  rgba(0, 0, 0, 0));
	color: whitesmoke;
	text-shadow: 1px 1px 5px #000;
	font-size: 1.2em;
}

/* Footer */

footer {
	width: 100%;
	height: 100px;
	background-color: #ee9fb8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	margin: 10px 20px;
}

/* Media Inquiries */

@media only screen and (max-width: 1118px) {
	.brand {
		font-size: 3em;
	}
	
	nav a {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 876px) {
	.logo {
		width: 75px;
		height: 75px;
	}
	
	.brand {
		font-size: 1.75em;
	}
	
	.category-box {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	
	.example-lan {
		max-width: 250px;
		max-height: unset;
	}
	
	/* Change Header Layout */
	.header-flex {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	
	.logo {
		margin: 10px auto;
	}
	
	.brand {
		margin: 10px auto;
		order: 0;
	}
		
	.desk-nav {
		order: 3;
		width: 100%;
		text-align: center;
		display: none;
		margin: auto auto;
	}
	
	.nav-icon {
		order: 2;
		display: block;
		text-align: center;
		margin: auto auto;
	}
	
	/* Mobile Responsive Class */
	
	.desk-nav.responsive {
		position: relative;
		display: block;
	}
	
	.desk-nav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}
}



