body {
	background-color: #f3e4eb;
}

h2 {
	font-family: 'Truculenta', sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	text-align: center;
	margin: 30px auto;
}

h3 {
	font-family: 'Truculenta', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	text-align: center;
}

p {
	font-family: 'Robik', sans-serif;
}

.grid {
	width: 100%;
	display: grid;
	grid-template: repeat(30, minmax(min-content, max-content)) / 10% 80% 10%;
	grid-row-gap: 30px;
}

.shadow {
	box-shadow: 0 2px 5px gray;
}

/* Header */

header {
	width: 100%;
	background-color: #ee9fb8;
}

.header-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
}

.brand {
	font-family: 'Sacramento', cursive;
	font-size: 4em;
	font-weight: 500;
	color: whitesmoke;
	text-shadow: 1px 1px 5px gray;
	margin: 10px;
}

.desk-nav {
	display: inline-flex;
	justify-content: space-around;
}

nav a {
	font-family: 'Truculenta', sans-serif;
	font-size: 1.7em;
	text-decoration: none;
	color: whitesmoke;
	padding: 10px;
	text-shadow: 1px 1px 5px gray;
}

/* About */

.about {
	grid-area: 1 / 2 / span 1 / span 1;
	margin-top: 20px;
	background-image: url('/Resources/Images/About Us/cupcake_line_lg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portrait {
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 20px auto;
}

.intro-box {
	background-color: rgba(243, 228, 235, 0.8);
	width: 60%;
	margin: 30px auto;
	padding: 30px;
}

.name {
	font-family: 'Rubik', sans-serif;
}

.intro {
	color: #391c1f;
	text-shadow: 1px 1px 5px gray;
	margin: 20px;
	line-height: 1.5;
	text-align: center;
}

/* Work */

.work {
	grid-area: 2 / 2 / span 1 / span 1;
	background-color: #ee9fb8;
}

.example-container {
	background-color: rgba(243, 228, 235, 0.3);
	width: 90%;
	margin: 20px auto;
	padding: 10px;
}

.example-list {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
}

.example {
	max-height: 250px;
	margin: 10px;
}